body {
  background-color: #002b36 !important;
  color: #93a1a1 !important;
}

code-container {
  font-family: Hack;
  font-size: 90% !important;
}

.root-loader {
  background-color: #002b36 !important;
}

.cm-meta {
  color: #cb4b16 !important;
}

.cm-string > a.semantic-decoration {
  color: #080 !important;
}

a {
  color: #93a1a1 !important;
}

a:visited {
  color: #2aa198 !important;
}

.cm-comment {
  color: #2aa198 !important;
}

.cm-comment > a {
  color: #2aa198 !important;
}

format-code {
  color: #93a1a1 !important;
}

.cm-keyword {
  color: #f7981d !important;
}

.CodeMirror-gutters {
  border-right: none !important;
  background-color: #184955 !important;
  white-space: nowrap;
}

.mat-tree,
.mat-table,
depth-finder {
  background-color: transparent !important;
  font-family: Hack !important;
}

.mat-tree-node,
.mat-nested-tree-node {
  color: inherit !important;
}

splitter {
  background-color: #657b83 !important;
}

.header-bar {
  background-color: #184955 !important;
}

.mat-cell,
.mat-footer-cell {
  color: inherit !important;
}

history-table .history-table-row.right-row {
  background-color: #657b83 !important;
}

.cm-s-cider .CodeMirror-linenumber {
  color: inherit !important;
}

.gmat-tabs.mat-primary .mat-tab-label,
.gmat-tabs.mat-primary .mat-tab-link {
  color: inherit !important;
}

.mat-header-cell {
  color: inherit !important;
}

.mat-form-field-label,
.mat-hint {
  color: inherit !important;
}

loading.background,
markdown-content code {
  background-color: #002b36 !important;
}

.header {
  background-color: #073b47 !important;
}

.mat-tab-labels {
  background-color: #073b47 !important;
}

diff-detail-header,
detail-header,
markdown-tab-header {
  border-bottom-width: 0px !important;
}

repository-breadcrumb {
  border-bottom-width: 0px !important;
}

depth-finder .tree-node>a>mat-icon {
  color: #93a1a1 !important;
}

.mat-icon-button i,
.mat-icon-button .mat-icon {
  color: #93a1a1 !important;
}

.fill-cell {
  color: #1A73E8 !important;
}

.grimoire-secondary-text {
    color: inherit !important;
}

.project-page-container .short-description {
    color: inherit !important;
}

.project-page-container .about, .project-page-container .name, .project-page-container .long-description, .project-page-container .repository-label {
    color: inherit !important;
}

.project-page-container table tbody>tr:hover {
    background-color: #6b8f8f !important;
}

.mat-expansion-panel {
  background: inherit !important;
}

.mat-expansion-panel-header-title {
  color: #93a1a1 !important;
}

file-list a.file-item>mat-icon {
  color: inherit !important;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: inherit !important;
}

dropdown-button button .trigger-icon polygon,
dropdown-button button.dense[type] .trigger-icon polygon {
  fill: currentColor !important;
}

div>form>mat-form-field {
  border-radius: 8px !important;
  background-color: #184955 !important;
}

global-search-box .search-bar.m2NavEnabled {
  background-color: #184955 !important;
}