* {
  color: #93a1a1 !important;
  border-color: #657b83 !important;
}

a:visited {
  color: #93a1a1 !important;
}

body {
  background-color: #002b36 !important;
  color: #839496 !important;
}

html {
  background-color: #002b36 !important;
}

header {
  background: #073642 !important;
  border-bottom-color: #586e75 !important;
}

cursor {
  color: #93a1a1 !important;
}

a,
a span,
h1,
h2,
h3,
h4,
h5 {
  color: #2aa198 !important;
}

input,
textarea {
  background-color: #00313e !important;
  color: #839496 !important;
}

blockquote,
pre {
  background-color: #00313e !important;
  color: #839496 !important;
}

* {
  border-color: #00313e !important;
}

/****************** GooGle *********************/
.w8qArf .fl {
  color: #2aa198 !important;
}

[class*="NavWrapper"] [class*="NavContainer"] {
  background-color: #002b36 !important;
}

.css-5wdlwo-TabViewHeader::after {
  border-bottom: none !important;
}

.header__3dyn.collapse__2Ayu {
  background-color: #094352 !important;
}

.css-u5jpes-ResizeBar {
  background: #073642 !important;
}

[type="default"] {
  background-color:#094352 !important;
}

.css-1udd1v4-Toolbar {
  background-color: #094352 !important;
  border-top: none !important;
}

.css-132u9cg {
  background-color: #094352 !important;
}

#lang-select,
.css-423fyh-default-sm-Btn,
.css-51bub0-xs-Btn {
  background-color: #094352 !important;
}

.monaco-editor .margin {
  background-color: #094352 !important;
}

monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: #002b36 !important;
}

.current-line {
  background-color: #094352 !important;
}

.cigra,
.cigr {
  box-shadow: 1px 0 0 0 #094352 inset !important;
}

.css-1hvc5t4-RootContainer.e19miya80,
.css-tccn96-SolutionDetailContainer {
  background-color: #002b36 !important;
}

.css-1llvswr-StyledRenderedMarkdown,
.css-1ezhbz9-OperationsWrapper,
.css-1mlz68y-Container,
.css-1v5f5z-Placeholder,
.question-list-table tbody tr:nth-of-type(odd),
.e16udao2,
.container__39KX,
.container__Kjnx,
.question-fast-picker__3qGP,
.css-1kv0viy-NavWrapper {
  background-color: #073642 !important;
}

.hljs-comment,
.hljs-quote,
.css-1t0ei7d-MarkdownRenderContent code,
.label-success {
  background-color: transparent !important;
}


.css-1hvc5t4-RootContainer.e19miya80:hover {
  background-color: #094352 !important;
}

.css-cnpuvg-RootContainer.e19miya80 {
  background-color: #094352 !important;
}

.css-1r79szx-CommentsHead::before,
.css-1r79szx-CommentsHead::after {
  background-color: #094352 !important;
}

.container__39KX {
  box-shadow: none !important;
}